<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Is It Trump? Powered by AI</title>
    <meta name="description"
          content="A fun little AI that can recognize pictures of President Trump and other political figures.">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

    <meta property="og:url"
          content="http://IsItTrump.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Is It Trump? Powered by artificial intelligence!"/>
    <meta property="og:description"
          content="Highly advanced artificial intellegence technology recognizes Trump!"/>
    <meta property="og:image" content="../static/trump.png"/>


</head>
<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    <div class='row center'>
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <div class='title'>Is It Trump?</div>
            <p class="sub-title">Upload a picture to find out! </p>
            <div class='content'>
                <div class='no-display'>
                    <input id='file-input'
                           class='no-display'
                           type='file'
                           name='file'
                           accept='image/*'
                           onchange='showPicked(this)'>
                </div>
                <div class="img-responsive trump-pic">
                    <img id='image-picked' alt='Chosen Image' src="../static/trump.png">
                </div>
                <div class='result-label'>
                    <label id='result-label'></label><br/>
                    <label style="margin-top: 20px;" id="confidence-label"></label>
                </div>
                <div class="button-section">
                    <div class="upload">
                        <button class='btn3d btn btn-default btn-lg choose-file-button' type='button'
                                onclick='showPicker()'><span class="glyphicon glyphicon-download-alt"></span>Upload
                            Picture
                        </button>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='btn btn-magick btn-lg btn3d analyze-button' type='button'
                                onclick='analyze()'><span class="glyphicon glyphicon-gift"></span> Analyze
                        </button>
                    </div>
                </div>

                <!-- Your share button code -->
                <div style="margin-top: 25px;" class="fb-share-button"
                     data-href="https://IsItTrump.com"
                     data-layout="button_count">
                </div>
                <div style="margin-left:auto;margin-right: auto;max-width: 400px;margin-top: 5em;color: #787878">
                    <p>This was created for educational purposes and strictly for humor. If you find any of this
                        distasteful, you reserve the right to close your internet browser... no one is forcing you to
                        use it :)</p>
                    <p>Want to connect? Send me an <a href="mailto:mrthomasjackson@icloud.com"> email</a>.</p>
                    <p>Looking for a fantastic AI library? Take a look at <a href="https://www.fast.ai/">fast.ai</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
